version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: dicrawler_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    ports:
      - "8001:8000"
    depends_on:
      - mysql
    command: >
      bash -c '
        git config --global --add safe.directory /var/www/html &&
        until mysqladmin ping -h mysql -uroot -p1203 --silent; do
          echo "⏳ Waiting for MySQL..."; sleep 2;
        done &&
        echo "✅ MySQL is up" &&
        composer install &&
        php bin/console doctrine:database:drop --if-exists --force &&
        php bin/console doctrine:database:create &&
        rm -f src/Migrations/*.php &&
        php bin/console make:migration --no-interaction &&
        php bin/console doctrine:migrations:migrate --no-interaction &&
        php bin/console doctrine:fixtures:load --no-interaction &&
        service cron start &&
        symfony serve --no-tls --port=8000 --allow-http --allow-all-ip
      '

  mysql:
    image: mysql:8.0
    container_name: dicrawler_db
    environment:
      MYSQL_DATABASE: dicrawler
      MYSQL_ROOT_PASSWORD: 1203
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/mysql/custom.cnf:/etc/mysql/conf.d/custom.cnf
    ports:
      - "3307:3306"

  grafana:
    image: grafana/grafana:latest
    container_name: dicrawler_grafana
    ports:
      - "3001:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - mysql


volumes:
  db_data:
  grafana_data:
