[production]
phpSettings.display_startup_errors = 0
phpSettings.display_errors = 0
includePaths.library = APPLICATION_PATH "/../library"
bootstrap.path = APPLICATION_PATH "/Bootstrap.php"
bootstrap.class = "Bootstrap"
appnamespace = ""

; Konfiguration Session Management
resources.session.save_path = APPLICATION_PATH "/../session"
resources.session.remember_me_seconds = 864000
resources.session.use_only_cookies = true

resources.frontController.controllerDirectory = APPLICATION_PATH "/modules/controllers"
resources.frontController.moduleDirectory = APPLICATION_PATH "/modules"
resources.frontController.defaultModule= "Crawler"
resources.frontController.params.displayExceptions = 0
resources.frontController.params.prefixDefaultModule = true

autoloadernamespaces[] = "Crawler"
autoloadernamespaces[] = "Marktjagd"
autoloadernamespaces[] = "Google"
autoloadernamespaces[] = "PHPExcel"
autoloadernamespaces[] = "Shopfully"
autoloadernamespaces[] = "Ftp"
autoloadernamespaces[] = "Redmine"
autoloadernamespaces[] = "Login"
autoloadernamespaces[] = "AWS"

resources.layout.layoutPath = APPLICATION_PATH "/layouts/scripts/"

resources.view[] =
resources.modules[] =

;database
resources.multidb.db1.adapter         = pdo_mysql
resources.multidb.db1.host            = ""
resources.multidb.db1.username        = ""
resources.multidb.db1.password        = ""
resources.multidb.db1.dbname          = ""
resources.multidb.db1.charset         = UTF8
resources.multidb.db1.default  	      = true
resources.multidb.db1.port  	      =

resources.multidb.db2.adapter         = pdo_mysql
resources.multidb.db2.host            = ""
resources.multidb.db2.username        = ""
resources.multidb.db2.password        = ""
resources.multidb.db2.dbname          = "ftp"
resources.multidb.db2.charset         = UTF8
resources.multidb.db2.port  	      =

mail.smtp.host                      =
mail.smtp.user                      =
mail.smtp.pass                      =
mail.smtp.port                      = "25"

mail.imap.host                      = ""
mail.imap.user                      = ""
mail.imap.pass                      = ""
mail.imap.ssl                       = "SSL"

; Redmine API-Key
redmine.mj.apikey                   =
redmine.mj.user			            =

; LOGGING
log.mail.from                       =
log.mail.to                         =
log.mail.cc                         =

; Log-Level, ab welchem geloggt werden soll
; EMERG = 1; CRIT = 2; ERR = 3; WARN = 4; NOTICE = 5; INFO = 6; DEBUG = 7
log.mail.level                      = 3
log.console.level                   = 6

ftp.mj.username                     =
ftp.mj.password                     =
ftp.mj.host                         =
ftp.mj.port                         = 21

ftp.mjnew.username                     =
ftp.mjnew.password                     =
ftp.mjnew.host                         = di.marktjagd.de
ftp.mjnew.port                         = 2222

nextcloud.mc.username                  =
nextcloud.mc.password                  =

shopfully.apiHost                      =
shopfully.apiKay                       =

retailer.urlpattern =               'https:\/\/unternehmen.marktjagd.de\/[[COMPANYID]]\/store\/[[STOREID]]'

masterCrawler.urlBase               = "http://localhost"
masterCrawler.port                  = 8080
masterCrawler.urlStart              = "/api/extraction/start?configuration_id="
masterCrawler.urlStatus             = "/api/extraction/"
masterCrawler.urlExport             = "/api/export/"
masterCrawler.configuration         = "/api/configurations/"
masterCrawler.urlService               = "/api/services/"

crawler.max = 10
crawler.articles.max = 5
crawler.brochures.max = 5
crawler.stores.max = 10
crawler.publicUrl = 'https://di-gui.marktjagd.de'
crawler.api.exportSystem = 'live'

; S3 storage settings
crawler.s3.active     = false  ; Set to true to save crawler generated files to S3 instead of a local disk.
crawler.s3.region     = 'eu-west-1'
crawler.s3.apiVersion = '2006-03-01'
crawler.s3.bucketname = 'content.di-prod.offerista'
crawler.s3.prefix     = ''


[staging : production]

[testing : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1

[development : production]
phpSettings.display_startup_errors = 1
phpSettings.display_errors = 1
resources.frontController.params.displayExceptions = 1

masterCrawler.urlBase               = "http://crawler_wildfly"
masterCrawler.port                  = 8080
masterCrawler.urlStart              = "/api/extraction/start?configuration_id="
masterCrawler.urlStatus             = "/api/extraction/"
masterCrawler.urlExport             = "/api/export/"

resources.multidb.db1.adapter         = pdo_mysql
resources.multidb.db1.host            = "crawler_mysql-gui"
resources.multidb.db1.username        = "root"
resources.multidb.db1.password        = "root"
resources.multidb.db1.dbname          = "di-gui"
resources.multidb.db1.charset         = UTF8
resources.multidb.db1.default  	      = true
resources.multidb.db1.port  	      = 3307

resources.multidb.db2.adapter         = pdo_mysql
resources.multidb.db2.host            = "crawler_mysql-gui"
resources.multidb.db2.username        = "root"
resources.multidb.db2.password        = "root"
resources.multidb.db2.dbname          = "ftp"
resources.multidb.db2.charset         = UTF8
resources.multidb.db2.port  	      = 3307

crawler.max = 10
crawler.articles.max = 5
crawler.brochures.max = 5
crawler.stores.max = 10
crawler.publicUrl = 'http://localhost'
crawler.api.exportSystem = 'intranet'