{% extends 'base.html.twig' %}

{% block title %}DI Crawler!{% endblock %}

{% block body %}<center>
    <h1><a class="nav-link" href="{{ path('app_login') }}">Welcome to DI Crawler GUI<img src="{{ asset('images/logo.png') }}" ></a></h1>
    {% endblock %}
