{% extends 'base.html.twig' %}

{% block title %}Create Company{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create Company</h1>
        {{ include('company/_form.html.twig', {'button_label': 'Create'}) }}
        <a href="{{ path('app_company_index') }}" class="btn waves-effect waves-light grey">Back to list</a>
    </div>
{% endblock %}
